body {

	padding-top: 50px;
	background-color: #5C3B3B !important;
	font-family: 'VT323', monospace !important;
}


h1 {

	color: orange !important;
	text-align: center;
	padding-bottom: 50px;
	font-weight: 400;
	font-size: 3em;
}

h2 {

	text-align: center;
}

.users {

max-height: 200px;
background-color: white;


}

.username {
	min-height: 30px;
	border: 1px solid black;
	margin: 2%;
	padding: 3px;
	background-color: white;
	border-radius: 10px;


}

.title {

	margin-top: 30px;	
	border: 1px solid black;
	background-color: #BDA9A9;
	
}

img {

	height: 50px;
	width:  50px;
	display: inline-block;
	border: 2px solid white;
	border-radius: 8px;



}

.userinput {

	padding-left: 20%;
	display: inline;
	font-weight: 600;
	text-align: left;
	font-family: monospace !important;


}

.viewport {

	border: 1px solid black;
	min-height: 500px;
}

.online {
	background-color: #6CC560;
	margin-top: 2%;
	margin-bottom: 2%;
}

.offline {
	background-color: #CE5D54;
		margin-top: 2%;
	margin-bottom: 2%;
}

#iframe1 {

	min-height: 500px;
	min-width: 500px;
}

.btn {

	font-family: monospace !important;
}